<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.xxct.oa_element.mapper.WaybillMapper">

    <sql id="page">
      limit #{currentPage},#{pageRows}
    </sql>

    <!--
        用户查询分页
    -->
    <select id="findPageList" resultType="Waybill">
      select * from waybill_
      <where>
		<if test="param!=null and param.waybill_no!=null and param.waybill_no!=''">
			and waybill_no like "%"#{param.waybill_no}"%"
		</if>
		<if test="param!=null and param.s_name!=null and param.s_name!=''">
			and s_name like "%"#{param.s_name}"%"
		</if>
		<if test="param!=null and param.s_phone!=null and param.s_phone!=''">
			and s_phone like "%"#{param.s_phone}"%"
		</if>
		<if test="param!=null and param.s_address!=null and param.s_address!=''">
			and s_address like "%"#{param.s_address}"%"
		</if>
		<if test="param!=null and param.r_name!=null and param.r_name!=''">
			and r_name like "%"#{param.r_name}"%"
		</if>
		<if test="param!=null and param.r_phone!=null and param.r_phone!=''">
			and r_phone like "%"#{param.r_phone}"%"
		</if>
		<if test="param!=null and param.r_address!=null and param.r_address!=''">
			and r_address like "%"#{param.r_address}"%"
		</if>
	</where>
      <include refid="page"/>
    </select>
    <select id="getTotalCount" resultType="Integer" parameterType="Waybill">
       select Count(*) from Waybill_
       <where>
		<if test="waybill_no!=null and waybill_no!=''">
			and waybill_no like "%"#{waybill_no}"%"
		</if>
		<if test="s_name!=null and s_name!=''">
			and s_name like "%"#{s_name}"%"
		</if>
		<if test="s_phone!=null and s_phone!=''">
			and s_phone like "%"#{s_phone}"%"
		</if>
		<if test="s_address!=null and s_address!=''">
			and s_address like "%"#{s_address}"%"
		</if>
		<if test="r_name!=null and r_name!=''">
			and r_name like "%"#{r_name}"%"
		</if>
		<if test="r_phone!=null and r_phone!=''">
			and r_phone like "%"#{r_phone}"%"
		</if>
		<if test="r_address!=null and r_address!=''">
			and r_address like "%"#{r_address}"%"
		</if>
	</where>
    </select>

    <update id="update" parameterType="Waybill">
            update waybill_
			<set>
				<if test="number!=null">
					number=#{number},
				</if>
				<if test="s_name!=null and s_name!=''">
					s_name=#{s_name},
				</if>
				<if test="s_phone!=null and s_phone!=''">
					s_phone=#{s_phone},
				</if>
				<if test="s_address!=null and s_address!=''">
					s_address=#{s_address},
				</if>
				<if test="r_name!=null and r_name!=''">
					r_name=#{r_name},
				</if>
				<if test="r_phone!=null and r_phone!=''">
					r_phone=#{r_phone},
				</if>
				<if test="r_address!=null and r_address!=''">
					r_address=#{r_address},
				</if>
				<if test="time!=null">
					time=#{time},
				</if>
			</set>
			where waybill_no=#{waybill_no}
    </update>

    <insert id="save" parameterType="Waybill">
         insert into waybill_ (waybill_no,number,s_name,s_phone,s_address,r_name,r_phone,r_address,time)  values(#{waybill_no},#{number},#{s_name},#{s_phone},#{s_address},#{r_name},#{r_phone},#{r_address},#{time});
    </insert>

    <!--删除-->
    <delete id="delete" parameterType="String">
        delete from waybill_ where waybill_no=#{waybill_no}
    </delete>

    <!--查询单个-->
    <select id="find" parameterType="String" resultType="Waybill">
        select * from waybill_ where waybill_no=#{waybill_no}
    </select>

    <!--查询全部不带条件-->
    <select id="findAll" resultType="Waybill" parameterType="Waybill">
         select * from waybill_
         <where>
		<if test="waybill_no!=null and waybill_no!=''">
			and waybill_no like "%"#{waybill_no}"%"
		</if>
		<if test="s_name!=null and s_name!=''">
			and s_name like "%"#{s_name}"%"
		</if>
		<if test="s_phone!=null and s_phone!=''">
			and s_phone like "%"#{s_phone}"%"
		</if>
		<if test="s_address!=null and s_address!=''">
			and s_address like "%"#{s_address}"%"
		</if>
		<if test="r_name!=null and r_name!=''">
			and r_name like "%"#{r_name}"%"
		</if>
		<if test="r_phone!=null and r_phone!=''">
			and r_phone like "%"#{r_phone}"%"
		</if>
		<if test="r_address!=null and r_address!=''">
			and r_address like "%"#{r_address}"%"
		</if>
	</where>
    </select>

    <!--删除多个-->
    <delete id="deleteMany" parameterType="String">
        delete from waybill_ where waybill_no in
        <foreach collection="array" item="id" separator="," open="(" close=")">
            #{id}
        </foreach>
    </delete>
</mapper>
